# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties
android/app/*.keystore
android/app/*.jks

# iOS/macOS
ios/Pods/
macos/Pods/
**/DerivedData/

# IDE files
.idea/
.vscode/
*.iml

# Logs
*.log

# Other
.DS_Store

